header {
    background-image: linear-gradient(#99194a, #cc004e, #cc0049);
    /* #8e0036*/
    /*#cc004e*/
    width: 100%;
    height: 80px;
}

.nav-down {
    /* margin-top: 20px; */
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

.container-pink {
    width: 100%;
    height: 300px;
    /* background-color: #ff0062; */
    background-image: linear-gradient(#ff0062, #cc004e);
}

.prenom {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    /* font-family: 'Roboto', Georgia, Times, serif; */
    font-size: 150px;
    text-align: center;
    padding-top: 130px;
    color: #09070e;
    transition: texte-shadow 1.5s;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .prenom {
        font-size: 70px;
        padding-top: 200px;
    }
}

.prenom:hover {
    animation: prenomAnim 3s linear infinite;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    color: transparent;
}

@keyframes prenomAnim {
    0,
    100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(2);
    }
}

.container-purple {
    width: 100%;
    height: 300px;
    /* background-color: #1b0326; */
    /*#645394; ultra violet #604d8d #1b0326*/
    background-image: linear-gradient(#1b0326, #311c3b);
}

.nom {
    /* font-family: 'Ubuntu', Helvetica, Arial, sans-serif; */
    font-family: 'Yeseva One', Helvetica, Arial, sans-serif;
    font-size: 150px;
    text-align: center;
    color: #e8e5e9;
    /* color: #604d8d; */
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .nom {
        font-size: 70px;
    }
}

.btncv {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#apropos {
    font-family: 'Comfortaa', cursive, Helvetica, Arial, sans-serif;
    width: 70%;
    height: 250px;
    margin-left: 180px;
    margin-top: 80px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #apropos {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
}

.presentation {
    margin-bottom: 1em;
}

#projets {
    margin-bottom: 1em;
    margin-left: 180px;
}

.mesprojets {
    font-family: 'Comfortaa', cursive, Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #projets {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #template img {
        max-width: 100%;
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #paturain img {
        max-width: 100%;
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #screens img {
        max-width: 100%;
    }
}

.image {
    padding-top: 20px;
    padding-bottom: 30px;
}

.comment {
    color: #11A900;
}

.comment:hover {
    color: #6DDC06;
}

.text-center {
    margin-bottom: 200px;
}

#template p {
    color: #11A900;
    padding-top: 20px;
    padding-bottom: 20px;
}

#template:hover p {
    color: #6DDC06;
}

#template a {
    text-decoration: none;
}

#paturain p {
    color: #11A900;
    padding-top: 20px;
    padding-bottom: 20px;
}

#paturain:hover p {
    color: #6DDC06;
}

#paturain a {
    text-decoration: none;
}

#projetsvisu {
    margin-bottom: 1em;
    margin-left: 180px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #projetsvisu {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.avisu {
    font-family: 'Comfortaa', cursive, Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
}

#artsvisuels {
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 300px;
}

@media only screen and (max-width: 500px) {
    #artsvisuels {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#artsvisuels:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/*Footer*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #111;
    text-align: center;
}

.container {
    margin-top: 50px;
    color: #fff;
    width: 100%;
}

.fa-twitter {
    color: #49BDF8;
}

.fa-github {
    color: #F20A0D;
}

.fa-linkedin {
    color: #9AFA12;
}

.fa-envelope-square {
    color: #E6F81D;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

.footer p {
    margin-top: 12px;
    color: #e4bdbd;
}


/* scroll return to top*/

.fa-arrow-circle-up {
    color: #604d8d;
    float: right;
    margin-right: -40px;
}


/* animation titre */


/*responsive*/

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
}